#title_cont {
    background-color: lightskyblue;
}

#body_cont {
    background-color: lightgray;
    height: 8rem;
}

#card_cont {
    width: 14%;
    border-color: black;
    border-width: 0.15rem;
}

#container {
    display: flex;
    margin-bottom: 1em;
}

#percol {
    margin-bottom: 1em;
}

#col_movielist {
    list-style: none;
    background-color: lightgray;
}